button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
}

.card {
    height: 100px;
    width: auto;
    background-color: green;

}


::backdrop {
    background-color: yellowgreen;
    opacity: 0.75;
}


dialog > form {
    display: grid;
    
    
    gap: 10px;
    
}

input {
    width: 100%;
}

.close {
    margin-top: 20px;
}